.findForms {
    margin: 30px 0px;
}

.findFormsAll {
    position: sticky;
    top: 0;
    min-height: 2em;
    background: #FFFFFF;
    z-index: 1000;
}

.findFormsFIOdoc {
    margin: 62px 0px;
}

.doctorNameinTable a {
    cursor: pointer;
    color: black;
}
