
@{
    ViewData["Title"] = "ListOfDoctors";
}


<h1>ListOfDoctors</h1>
<a class="btn btn-outline-primary" asp-area="" asp-controller="Home" asp-action="ItemListOfDoctor">Перейти на страницу врача</a>

