@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container">
    <div class="row findFormsAll">
        <div class="col-md-4 col-lg-4 col-xl-4">

            <div class="findFormsFIOdoc">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><i class="fa fa-map-marker"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="ФИО врача" aria-label="Username" aria-describedby="basic-addon1">
                </div>
            </div>
        </div>

        <div class="col-md-4 col-lg-4 col-xl-4">
            <div class="findForms">
                <div class="findForms">
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Специальность</label>
                        <select class="form-control" id="exampleFormControlSelect1">
                            <option>Терапевт</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-lg-4 col-xl-4">
            <div class="findForms">
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Сортировка</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option>по рейтингу (от большего к меньшему)</option>
                        <option>по рейтингу (от меньшего к большего)</option>
                        <option>по ФИО в алфавитном порядке</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-lg-12 col-xl-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">№</th>
                        <th scope="col">ФИО</th>
                        <th scope="col">Специальность</th>
                        <th scope="col">Рейтинг</th>
                        <th scope="col">Учреждение</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>
                            <span class="doctorNameinTable">
                                <a gref="#" data-toggle="tooltip" data-placement="top" title="Открыть профиль врача">Иванов Иван Иванович
                            </span>
                        </td>
                        <td>Терапевт</td>
                        <td>3,5</td>
                        <td>Гор. больница №2
                        <td>
                        <td>
                            <button type="button" class="btn btn-link" data-toggle="modal" data-target="#exampleModalCenter"
                                    value="Выбрать">
                                Выбрать
                            </button>
                        <td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>
                            <span class="doctorNameinTable">
                                <a gref="#" data-toggle="tooltip" data-placement="top" title="Открыть профиль врача">Иванов Иван Иванович
                            </span>
                        </td>
                        <td>Терапевт</td>
                        <td>3,5</td>
                        <td>Гор. больница №2
                        <td>
                        <td>
                            <button type="button" class="btn btn-link" data-toggle="modal" data-target="#exampleModalCenter"
                                    value="Выбрать">
                                Выбрать
                            </button>
                        <td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>
                            <span class="doctorNameinTable">
                                <a gref="#" data-toggle="tooltip" data-placement="top" title="Открыть профиль врача">Иванов Иван Иванович
                            </span>
                        </td>
                        <td>Терапевт</td>
                        <td>3,5</td>
                        <td>Гор. больница №2
                        <td>
                        <td>
                            <button type="button" class="btn btn-link" data-toggle="modal" data-target="#exampleModalCenter"
                                    value="Выбрать">
                                Выбрать
                            </button>
                        <td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>
                            <span class="doctorNameinTable">
                                <a gref="#" data-toggle="tooltip" data-placement="top" title="Открыть профиль врача">Иванов Иван Иванович
                            </span>
                        </td>
                        <td>Терапевт</td>
                        <td>3,5</td>
                        <td>Гор. больница №2
                        <td>
                        <td>
                            <button type="button" class="btn btn-link" data-toggle="modal" data-target="#exampleModalCenter"
                                    value="Выбрать">
                                Выбрать
                            </button>
                        <td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>
                            <span class="doctorNameinTable">
                                <a gref="#" data-toggle="tooltip" data-placement="top" title="Открыть профиль врача">Иванов Иван Иванович
                            </span>
                        </td>
                        <td>Терапевт</td>
                        <td>3,5</td>
                        <td>Гор. больница №2
                        <td>
                        <td>
                            <button type="button" class="btn btn-link" data-toggle="modal" data-target="#exampleModalCenter"
                                    value="Выбрать">
                                Выбрать
                            </button>
                        <td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>
                            <span class="doctorNameinTable">
                                <a gref="#" data-toggle="tooltip" data-placement="top" title="Открыть профиль врача">Иванов Иван Иванович
                            </span>
                        </td>
                        <td>Терапевт</td>
                        <td>3,5</td>
                        <td>Гор. больница №2
                        <td>
                        <td>
                            <button type="button" class="btn btn-link" data-toggle="modal" data-target="#exampleModalCenter"
                                    value="Выбрать">
                                Выбрать
                            </button>
                        <td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>
                            <span class="doctorNameinTable">
                                <a gref="#" data-toggle="tooltip" data-placement="top" title="Открыть профиль врача">Иванов Иван Иванович
                            </span>
                        </td>
                        <td>Терапевт</td>
                        <td>3,5</td>
                        <td>Гор. больница №2
                        <td>
                        <td>
                            <button type="button" class="btn btn-link" data-toggle="modal" data-target="#exampleModalCenter"
                                    value="Выбрать">
                                Выбрать
                            </button>
                        <td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>
                            <span class="doctorNameinTable">
                                <a gref="#" data-toggle="tooltip" data-placement="top" title="Открыть профиль врача">Иванов Иван Иванович
                            </span>
                        </td>
                        <td>Терапевт</td>
                        <td>3,5</td>
                        <td>Гор. больница №2
                        <td>
                        <td>
                            <button type="button" class="btn btn-link" data-toggle="modal" data-target="#exampleModalCenter"
                                    value="Выбрать">
                                Выбрать
                            </button>
                        <td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>
                            <span class="doctorNameinTable">
                                <a gref="#" data-toggle="tooltip" data-placement="top" title="Открыть профиль врача">Иванов Иван Иванович
                            </span>
                        </td>
                        <td>Терапевт</td>
                        <td>3,5</td>
                        <td>Гор. больница №2
                        <td>
                        <td>
                            <button type="button" class="btn btn-link" data-toggle="modal" data-target="#exampleModalCenter"
                                    value="Выбрать">
                                Выбрать
                            </button>
                        <td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Выбор специалиста</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <a href="URL">Иванов Иван Иванович</a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary">Подтвердить выбор</button>
            </div>
        </div>
    </div>
</div>
