<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <script src="https://kit.fontawesome.com/9fbbfcafd2.js"></script>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>

    <div>
        <nav class="navbar fixed-top navbar-expand-md navbar-light">
            <a class="navbar-brand" href="#">
                <img src="~/images/logo.png" class="d-inline-block align-top logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Как работает Level Travel? <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Отзывы</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>  

</head>
<body>

    <partial name="_CookieConsentPartial" />
  
    
    <html class="body-content">
        @RenderBody()
        <hr/>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="footer-logo-block col-md-12">
                        <img id="footer-logo" src="~/images/logo_footer.png">
                        <div class="footer-icons">
                            <a href="#"><img src="https://static.tildacdn.com/tild6639-3366-4631-b239-646338376234/image4.svg"></a>
                            <a href="#"><img src="https://static.tildacdn.com/tild6439-3531-4463-b166-323930353330/odnoklassniki-logo.png"></a>
                            <a href="#"><img src="https://static.tildacdn.com/tild6564-3265-4937-b637-653033646565/image2.svg"></a>
                            <a href="#"><img src="https://static.tildacdn.com/tild6230-6363-4732-b831-623338353537/image16.svg"></a>
                            <a href="#"><img src="https://static.tildacdn.com/tild3534-6639-4739-a430-623035626130/image15.svg"></a>
                        </div>
                    </div>    
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <div class="footer-list">
                            <div class="footer-list-header"><p>Level.Travel</p></div>
                            <p><a href="#">О нас</a></p>
                            <p><a href="#">Отзывы</a></p>
                            <p><a href="#">Контакты</a></p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="footer-list">
                            <div class="footer-list-header"><p>Инструменты</p></div>
                            <p><a href="#">Акции</a></p>
                            <p><a href="#">Календарь низких цен</a></p>
                            <p><a href="#">Лента горящих туров</a></p>
                            <p><a href="#">Оформить тур в рассрочку</a></p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="footer-list">
                            <div class="footer-list-header"><p>Полезные ссылки</p></div>
                            <p><a href="#">Как забронировать тур<br>с 70% скидкой</a></p>
                            <p><a href="#">Одно приложение вместо<br>100 турагентов</a></p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="footer-list">
                            <div class="footer-list-header"><p>Контакты</p></div>
                            <p><a href="#">+7 495 134 44 11</a></p>
                            <p><a href="#">8 800 333 50 16</a></p>
                            <p><a href="#">hello&#64;level.travel</a></p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="footer-logo-block col-md-12">
                        <div class="developer">
                            <p>&#169; ООО &#171;Mozer&#187; (2016-2019)</p>
                        </div>
                    </div>
                </div>
            </div>    
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    
    @RenderSection("Scripts", required: false)
</body>
</html>

